body{
    background-color:antiquewhite;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color:black;
    padding: 15px;
    overflow: hidden;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.portfolio{
    text-align: center;
    font-family:'sans-serif';
    font-style:normal;
    font-size:25px;
}



.main-outer{
    margin: 10px;
    padding: 10px;
    background-color:orchid;
    align-items: center;
    border-radius: 0.75%;
}
.namepfpbio{
    justify-content: center;
    display: flex;
    padding: 10px;
    background-color: pink;
    border-radius: 20px;
}
.namebio{
    width: 70%;
    padding: 10px;
    padding-left: 40px;
    justify-content: center;
    font-size: 25px;
}

   

.pfp img{
    border-radius: 5px;
    width: 100%;
}

.contactdetails{
    background-color:pink;
    border-radius: 10px;
    padding: 10px;
}
.contactdetails h1{
    padding: 30px;
    font-size: 30px;
    text-decoration-line: underline;
}
.contactdetails table{
    text-align: center;
}


.skillproj{
    justify-content: space-evenly;
    display: flex;
    padding: 10px;
    background-color:pink;
    border-radius: 20px;
}
.skill{
    padding: 20px;
    width: 45%;
    background-color:pink;
    border-radius: 10px;
    font-size: 15px;
}
.proj{
    padding: 20px;
    width: 45%;
    background-color:pink;
    border-radius: 10px;
    font-size: 15px;
}
.skillproj  h1 {
    text-decoration: underline;
}


.ejukesan{
    border-radius: 2%;
    padding: 10px;
    background-color:pink;
}
.ejukesan table tr, td{
    width: 250px;
    height: 40px;
    background-color: rgb(245, 220, 242);
}
.ejukesan table th{
    font-size: 18px;
}

.ejukesan table td,th{
    border-radius: 2%;
}
.sno{
    width: 70px;
}
.ejukesan span h1{
    
    text-decoration: underline;
}
.certificates{
    
        border-radius: 2%;
        padding: 10px;
        background-color:pink
      
}
.certificates table {
    text-align: center;
}